.searchbar {
  background: #F5F5F5;
  border-color: #F5F5F5;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  padding: 8px 16px;
}

.searchbar__input {
  border: none;
  display: flex;
  background: transparent;
  border: none;
  outline: none;
}

.searchbar__button {
  border: unset;
  background: transparent;
  cursor: pointer;
}

.searchbar__button__icon {
  background: url("../img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  display: block;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.header__left {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header__button {
  color: #2A7AE4;
  border-color: #2A7AE4;
  border-style: solid;
  background-color: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.header__button-search {
  border: unset;
  background: transparent;
  cursor: pointer;
}

.header__button-search__icon {
  background: url("../img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  display: block;
}

@media screen and (min-width: 0) {
  .searchbar {
    display: none;
  }
  .header__button-search {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .searchbar {
    display: flex;
  }
  .header__button-search {
    display: none;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 32px;
  gap: 16px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 352px;
  color: #FFFFFF;
}

.banner__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
}

.banner__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
}

.banner__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.banner__button {
  background-color: #2A7AE4;
  padding: 16px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.banner__button:hover {
  background-color: #2a65e4;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #EAF2FD;
  padding: 64px;
  gap: 115px;
}

.footer-top__logo {
  height: 50px;
  width: 176px;
}

.footer-top__links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-top__links a {
  color: #464646;
  font-size: 16px;
  font-weight: 500;
}

.footer-top__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-top__form h3 {
  font-weight: 700;
  font-size: 16px;
  color: #464646;
}

.footer-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.footer-down__line {
  font-weight: 500;
  font-size: 16px;
}

.footer__button {
  background-color: #2A7AE4;
  border: unset;
  padding: 16px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  width: 165px;
}

.form__input {
  padding: 12px;
  border: unset;
  border-bottom: 1px solid #E5E5E5;
  border-radius: 4px;
  font-family: "Raleway";
}

.form__textarea {
  padding: 12px;
  border: unset;
  border-bottom: 1px solid #E5E5E5;
  border-radius: 4px;
  resize: none;
  font-family: "Raleway";
}

.linha-produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #464646;
}

.linha-produtos__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 38px;
}

.linha-produtos__header__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.linha-produtos__header a {
  color: #2A7AE4;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.linha-produtos__header__arrow {
  background: url("../img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.linha-produtos__itens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.linha-produtos__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.linha-produtos__item__nome {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.linha-produtos__item__preco {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.linha-produtos__item__img {
  width: 176px;
  height: 174px;
}

.linha-produtos__item a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2A7AE4;
}

body {
  font-family: "Raleway";
  font-style: normal;
}

body a {
  text-decoration: none;
}

.container-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.25rem 0;
  width: 1136px;
}

@media screen and (max-width: 1136px) {
  .container-h {
    padding: 1.25rem 1rem;
    width: calc(100% - 2rem);
  }
}
.container-v {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
  width: 1136px;
  gap: 16px;
}

@media screen and (max-width: 1136px) {
  .container-v {
    padding: 1.25rem 1rem;
    width: calc(100% - 2rem);
  }
}